<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a routerLink="/" class="navbar-brand">
            SM Event
          </a>
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a *ngIf="!authentified" routerLink="/register" class="btn btn-light">
              <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Inscription </span>
            </a>

            <a *ngIf="!authentified"  routerLink="/login" class="btn btn-light">
              <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Connexion </span>
            </a>

            <a *ngIf="authentified"  (click)="logout()" routerLink="/" class="btn btn-light">
              <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Déconnexion </span>
            </a>

            <a data-bs-toggle="offcanvas" href="#offcanvas_wishlist" class="btn btn-light">
              <i class="fa fa-heart"></i> <span class="ms-1"><app-wishlist-status></app-wishlist-status></span>
            </a>
            <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light">
              <i class="fa fa-shopping-cart"></i> <span class="ms-1"><app-cart-status></app-cart-status></span>
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
          <app-product-search></app-product-search>
        </div>

      </div>
    </div>
  </section>
  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ps-5" routerLink="/"> Tous les thèmes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-5" routerLink="/categories/4"> Anniversaire </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-5" routerLink="/categories/1"> Demande de mariage </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-5" routerLink="/categories/3"> Cadeaux invités </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-5" routerLink="/categories/2"> Mariage </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
